<section class="text-white py-24 overflow-hidden">
  <div class="max-w-7xl mx-auto">
    <div class="flex items-center gap-4 mb-12">
      <h2 i18n="@@home.experience.title"
          class="text-s uppercase tracking-[0.5em] text-gray-500 whitespace-nowrap">
        Vive el Festival
      </h2>
      <div class="h-px w-full bg-white/10"></div>
    </div>
  </div>

  <div class="relative w-full h-[60vh] md:h-[80vh]">
    <div class="absolute inset-0 flex transition-transform duration-1000 ease-in-out"
         [style.transform]="'translateX(-' + (currentIndex() * 100) + '%)'">

      @for (image of images(); track image) {
        <div class="min-w-full h-full">
          <img [src]="image"
               class="w-full h-full object-cover grayscale hover:grayscale-0 transition-all duration-700"
               i18n-alt="@@home.experience.imgAlt"
               alt="Experiencia del festival">
        </div>
      }
    </div>
  </div>
</section>
